# Nestjs specific
/dist
/node_modules
/build
/tmp
/.vscode

# Config files with sensitive data
/config/config.json
/config/*.json
!/config/config.example.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.local
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
